/* ------------------------검색창---------------------------------- */
#search-form{
   
    height:inherit;
    display:flex;
    justify-content: center;
    align-items: center;
  
}
#search-form input[type=search]{
 
    border: rgb(95, 86, 95) solid 1px;
    border-radius: 5px;
    width:500px; 
    height:35px;
    font-size:12px;
    font-weight: bold;
    text-align: center;
}
#search-form input[type=search]:focus{
   outline:none;
}
#search-form input[type=search]:focus::-webkit-input-placeholder{
    color:transparent;
 }

#search-form .search-btn{
    position: absolute;
    cursor: pointer;
    border:none;
    width:25px;
    height:25px;
    background: url("/WebContent/image/icon/zoom-in-64.png");
    background-size: cover;
    display:flex;
    margin-left: 460px;
   
    

   
}
form{
    display:flex;
    align-items: center;
}
select{
    height: 35px;
    background: none;
    position: absolute;
    text-align-last: center;
    width: 100px;
    font-size: 14px !important;
    font-weight: bold;
}