<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="/WebContent/css/hokdc/list.css"/>
        <title>혹한할인</title>
    </head>
    <body>
        <header>
            <div class="content-container flex">
                <div class="header-logo-container">
                    <a href=""><img src="/WebContent/image/logo.png" width=166px height=70px></a>
                </div>
                <div class="header-main-container"> 
                    <nav>
                        <h1 class="hidden">메인메뉴</h1>
                        <ul>
                            <li class="hok-hover now"><a href="#">DISCOUNT</a></li>
                            <li class="hok-hover"><a href="#">HOK! MAP</a></li>
                            <li class="hok-hover"><a href="#">HOK! HOK!</a></li>
                            <li class="hok-hover"><a href="#"> CENTER</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="header-sub-container">
                    <nav>
                        <h1 class="hidden">로그인</h1>
                        <ul>
                            <li class=""><a href="">LOGOUT</a></li>
                            <li class=""><a href="">MyPage</a></li>
                        </ul>
                    </nav>
                </div>  
            </div>
        </header>
        <div id="visual">
            <div class="content-container">
                <section id="search-form" >
                    <h1 class="hidden">비쥬얼검색창</h1>
                        <div>
                            <input type="text" minlength="1 "maxlength="10" placeholder="검색어를 입력하세요" class="margin-r-20" />
                            <input class="btn" type="submit" value=" " alt="검색" />
                        </div>
                </section>
            </div>
        </div>

        <div id="body">
            <div class="content-container" style="display:flex;">
                <div class="body-aside-container">
                    <aside>
                        <h1 class="hidden">어사이드리모콘</h1>
                        <div class="menu-bar menu-bar-dcmenu margin-r-20" >
                            <div class="text-center">
                                <div class="menu-bar-category">
                                        카테고리
                                </div>
        
                                <div>
                                    <ul class="hover-back">
                                        <a href=""><li class="now">MyList</li></a>
                                        <a href=""><li class="">한식</li></a>
                                        <a href=""><li class="">편의점</li></a>
                                        <a href=""><li class="">가족/뷔페</li></a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
                <div class="body-main-container">
                    <section id="main-body">
                        <h1 class="hidden">바디리스트</h1>
                        <div>
                            <div >
                                <div class="">
                                    <ul class="list text-right margin-t-20 margin-b-20 margin-r-20">
                                        <li><a  href=""><input class="btn home-btn page-path" type="button" value=""/></a></li>
                                        <li><img class="page-path" src="/WebContent/image/icon/next-16.png"></li>
                                        <li class="page-path">혹한할인!</li>
                                    </ul>
                                </div>
                                <!-- 마이리스트  -->
                                <div id="myList" class="dc-container margin-b-20">
                                    <div class="dc-category-title">                            
                                        <div class="margin-l-20">MyList</div>
                                    </div>
                                    <div class="dc-category-content">
                                        <div class="item-dc-list">
                                            <ul >                                                
                                                <li>
                                                    <div>
                                                        <div class="dc-image-border">
                                                            <a class="" href="detail">
                                                                <div class="margin-20 dc-image-container">
                                                                    <img class="dc-title-image" src="/WebContent/image/brand/fast/kfc.jpg" alt="이미지"/>
                                                                </div>
                                                            <div>
                                                                <div class="margin-10 dc-title">
                                                                    <!-- <span class="margin-r-10" style="font-weight: bold; ">[무지]</span><br> -->
                                                                    <span class="dc-detail-title" style="font-weight: bold;">무지혹 20% 세일!무지혹 20% 세일!무지혹 20% 세일!</span>
                                                                </div>
                                                                <div class="margin-b-10 flex dc-image-top-border">
                                                                    <div class="margin-l-20 margin-t-10" style="font-size: 15px;">
                                                                        <span class="dc-detail-start-date">18.12.11</span>
                                                                        <span>~</span>
                                                                        <span class="dc-detail-end-date">18.12.31</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            </a>
                                                        </div>    
                                                    </div>  
                                                </li>
                                                <li>
                                                    <div>
                                                        <div class="dc-image-border">
                                                            <a href="detail">
                                                                <div class="margin-20 dc-image-container">
                                                                        <img class="dc-title-image" src="/WebContent/image/brand/fast/kfc.jpg" alt="이미지"/>
                                                                </div>
                                                            <div>
                                                                <div class="margin-10 dc-title">
                                                                    <!-- <span class="margin-r-10" style="font-weight: bold; ">[무지]</span><br> -->
                                                                    <span class="dc-detail-title" style="font-weight: bold;">무지혹 20% 세일!무지혹 20% 세일!무지혹 20% 세일!</span>
                                                                </div>
                                                                <div class="margin-b-10 flex dc-image-top-border">
                                                                    <div class="margin-l-20 margin-t-10" style="font-size: 15px;">
                                                                        <span class="dc-detail-start-date">18.12.11</span>
                                                                        <span>~</span>
                                                                        <span class="dc-detail-end-date">18.12.31</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            </a>
                                                        </div>    
                                                    </div>  
                                                </li>
                                                <li>
                                                    <div>
                                                        <div class="dc-image-border">
                                                            <a href="detail">
                                                                <div class="margin-20 dc-image-container">
                                                                        <img class="dc-title-image" src="/WebContent/image/brand/fast/kfc.jpg" alt="이미지"/>
                                                                </div>
                                                            <div>
                                                                <div class="margin-10 dc-title">
                                                                    <!-- <span class="margin-r-10" style="font-weight: bold; ">[무지]</span><br> -->
                                                                    <span class="dc-detail-title" style="font-weight: bold;">무지혹 20% 세일!무지혹 20% 세일!무지혹 20% 세일!</span>
                                                                </div>
                                                                <div class="margin-b-10 flex dc-image-top-border">
                                                                    <div class="margin-l-20 margin-t-10" style="font-size: 15px;">
                                                                        <span class="dc-detail-start-date">18.12.11</span>
                                                                        <span>~</span>
                                                                        <span class="dc-detail-end-date">18.12.31</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            </a>
                                                        </div>    
                                                    </div>  
                                                </li>
                                                <li>
                                                    <div>
                                                        <div class="dc-image-border">
                                                            <a href="detail">
                                                                <div class="margin-20 dc-image-container">
                                                                        <img class="dc-title-image" src="/WebContent/image/brand/fast/kfc.jpg" alt="이미지"/>
                                                                </div>
                                                            <div>
                                                                <div class="margin-10 dc-title">
                                                                    <!-- <span class="margin-r-10" style="font-weight: bold; ">[무지]</span><br> -->
                                                                    <span class="dc-detail-title" style="font-weight: bold;">무지혹 20% 세일!무지혹 20% 세일!무지혹 20% 세일!</span>
                                                                </div>
                                                                <div class="margin-b-10 flex dc-image-top-border">
                                                                    <div class="margin-l-20 margin-t-10" style="font-size: 15px;">
                                                                        <span class="dc-detail-start-date">18.12.11</span>
                                                                        <span>~</span>
                                                                        <span class="dc-detail-end-date">18.12.31</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            </a>
                                                        </div>    
                                                    </div>  
                                                </li>
                                                <li>
                                                    <div>
                                                        <div class="dc-image-border">
                                                            <a href="detail">
                                                                <div class="margin-20 dc-image-container">
                                                                        <img class="dc-title-image" src="/WebContent/image/brand/fast/kfc.jpg" alt="이미지"/>
                                                                </div>
                                                            <div>
                                                                <div class="margin-10 dc-title">
                                                                    <!-- <span class="margin-r-10" style="font-weight: bold; ">[무지]</span><br> -->
                                                                    <span class="dc-detail-title" style="font-weight: bold;">무지혹 20% 세일!무지혹 20% 세일!무지혹 20% 세일!</span>
                                                                </div>
                                                                <div class="margin-b-10 flex dc-image-top-border">
                                                                    <div class="margin-l-20 margin-t-10" style="font-size: 15px;">
                                                                        <span class="dc-detail-start-date">18.12.11</span>
                                                                        <span>~</span>
                                                                        <span class="dc-detail-end-date">18.12.31</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            </a>
                                                        </div>    
                                                    </div>  
                                                </li>
                                                <li>
                                                    <div>
                                                        <div class="dc-image-border">
                                                            <a href="detail">
                                                                <div class="margin-20 dc-image-container">
                                                                        <img class="dc-title-image" src="/WebContent/image/brand/fast/kfc.jpg" alt="이미지"/>
                                                                </div>
                                                            <div>
                                                                <div class="margin-10 dc-title">
                                                                    <!-- <span class="margin-r-10" style="font-weight: bold; ">[무지]</span><br> -->
                                                                    <span class="dc-detail-title" style="font-weight: bold;">무지혹 20% 세일!무지혹 20% 세일!무지혹 20% 세일!</span>
                                                                </div>
                                                                <div class="margin-b-10 flex dc-image-top-border">
                                                                    <div class="margin-l-20 margin-t-10" style="font-size: 15px;">
                                                                        <span class="dc-detail-start-date">18.12.11</span>
                                                                        <span>~</span>
                                                                        <span class="dc-detail-end-date">18.12.31</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            </a>
                                                        </div>    
                                                    </div>  
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="pager">
                                            <div class="block-wrapping"><input type="button" value=" " class="btn prev-btn"/></div>
                                            <div class="block-wrapping">
                                                <ul class="list">
                                                    <li><a href="">1</a></li>
                                                    <li><a href="">2</a></li>
                                                    <li><a href="">3</a></li>
                                                </ul>
                                            </div>
                                            <div class="block-wrapping"><input type="button" value=" " class="btn next-btn"/></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- 할인 카테고리 종류 클래스 -->
                                <div class="dc-catagory-name dc-container margin-b-20">
                                        <div class="dc-category-title">                            
                                            <div class="margin-l-20">편의점</div>
                                        </div>
                                        <div class="dc-category-content">
                                            <div class="item-dc-list">
                                                <ul >                                                
                                                    <li>
                                                        <div>
                                                            <div class="dc-image-border">
                                                                <label class="checkbox-wrap">
                                                                    <input type="checkbox" id="cb1" ><label class="check-icon" for="cb1"></label>
                                                                </label>
                                                            <a href="detail">
                                                                    <div class="margin-20 dc-image-container">
                                                                            <img class="dc-title-image" src="/WebContent/image/brand/fast/kfc.jpg" alt="이미지"/>
                                                                    </div>
                                                                <div>
                                                                    <div class="margin-10 dc-title">
                                                                        <span class="dc-detail-title" style="font-weight: bold;">무지혹 20% 세일!무지혹 20% 세일!무지혹 20% 세일!</span>
                                                                    </div>
                                                                    <div class="margin-b-10 flex dc-image-top-border">
                                                                        <div class="margin-l-20 margin-t-10" style="font-size: 15px;">
                                                                            <span class="dc-detail-start-date">18.12.11</span>
                                                                            <span>~</span>
                                                                            <span class="dc-detail-end-date">18.12.31</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                </a>
                                                            </div>    
                                                        </div>  
                                                    </li>
                                                    <li>
                                                            <div>
                                                                <div class="dc-image-border">
                                                                    <label class="checkbox-wrap">
                                                                        <input type="checkbox" id="cb1" ><label class="check-icon" for="cb1"></label>
                                                                    </label>
                                                                <a href="detail">
                                                                        <div class="margin-20 dc-image-container">
                                                                                <img class="dc-title-image" src="/WebContent/image/brand/fast/kfc.jpg" alt="이미지"/>
                                                                        </div>
                                                                    <div>
                                                                        <div class="margin-10 dc-title">
                                                                            <!-- <span class="margin-r-10" style="font-weight: bold; ">[무지]</span><br> -->
                                                                            <span class="dc-detail-title" style="font-weight: bold;">무지혹 20% 세일!무지혹 20% 세일!무지혹 20% 세일!</span>
                                                                        </div>
                                                                        <div class="margin-b-10 flex dc-image-top-border">
                                                                            <div class="margin-l-20 margin-t-10" style="font-size: 15px;">
                                                                                <span class="dc-detail-start-date">18.12.11</span>
                                                                                <span>~</span>
                                                                                <span class="dc-detail-end-date">18.12.31</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    </a>
                                                                </div>    
                                                            </div>  
                                                    </li>
                                                    <li>
                                                            <div>
                                                                <div class="dc-image-border">
                                                                    <label class="checkbox-wrap">
                                                                        <input type="checkbox" id="cb1" ><label class="check-icon" for="cb1"></label>
                                                                    </label>
                                                                <a href="detail">
                                                                        <div class="margin-20 dc-image-container">
                                                                                <img class="dc-title-image" src="/WebContent/image/brand/fast/kfc.jpg" alt="이미지"/>
                                                                        </div>
                                                                    <div>
                                                                        <div class="margin-10 dc-title">
                                                                            <!-- <span class="margin-r-10" style="font-weight: bold; ">[무지]</span><br> -->
                                                                            <span class="dc-detail-title" style="font-weight: bold;">무지혹 20% 세일!무지혹 20% 세일!무지혹 20% 세일!</span>
                                                                        </div>
                                                                        <div class="margin-b-10 flex dc-image-top-border">
                                                                            <div class="margin-l-20 margin-t-10" style="font-size: 15px;">
                                                                                <span class="dc-detail-start-date">18.12.11</span>
                                                                                <span>~</span>
                                                                                <span class="dc-detail-end-date">18.12.31</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    </a>
                                                                </div>    
                                                            </div>  
                                                    </li>
                                                    <li>
                                                            <div>
                                                                <div class="dc-image-border">
                                                                    <label class="checkbox-wrap">
                                                                        <input type="checkbox" id="cb1" ><label class="check-icon" for="cb1"></label>
                                                                    </label>
                                                                <a href="detail">
                                                                        <div class="margin-20 dc-image-container">
                                                                                <img class="dc-title-image" src="/WebContent/image/brand/fast/kfc.jpg" alt="이미지"/>
                                                                        </div>
                                                                    <div>
                                                                        <div class="margin-10 dc-title">
                                                                            <!-- <span class="margin-r-10" style="font-weight: bold; ">[무지]</span><br> -->
                                                                            <span class="dc-detail-title" style="font-weight: bold;">무지혹 20% 세일!무지혹 20% 세일!무지혹 20% 세일!</span>
                                                                        </div>
                                                                        <div class="margin-b-10 flex dc-image-top-border">
                                                                            <div class="margin-l-20 margin-t-10" style="font-size: 15px;">
                                                                                <span class="dc-detail-start-date">18.12.11</span>
                                                                                <span>~</span>
                                                                                <span class="dc-detail-end-date">18.12.31</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    </a>
                                                                </div>    
                                                            </div>  
                                                    </li>
                                                    <li>
                                                            <div>
                                                                <div class="dc-image-border">
                                                                    <label class="checkbox-wrap">
                                                                        <input type="checkbox" id="cb1" ><label class="check-icon" for="cb1"></label>
                                                                    </label>
                                                                <a href="detail">
                                                                        <div class="margin-20 dc-image-container">
                                                                                <img class="dc-title-image" src="/WebContent/image/brand/fast/kfc.jpg" alt="이미지"/>
                                                                        </div>
                                                                    <div>
                                                                        <div class="margin-10 dc-title">
                                                                            <!-- <span class="margin-r-10" style="font-weight: bold; ">[무지]</span><br> -->
                                                                            <span class="dc-detail-title" style="font-weight: bold;">무지혹 20% 세일!무지혹 20% 세일!무지혹 20% 세일!</span>
                                                                        </div>
                                                                        <div class="margin-b-10 flex dc-image-top-border">
                                                                            <div class="margin-l-20 margin-t-10" style="font-size: 15px;">
                                                                                <span class="dc-detail-start-date">18.12.11</span>
                                                                                <span>~</span>
                                                                                <span class="dc-detail-end-date">18.12.31</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    </a>
                                                                </div>    
                                                            </div>  
                                                    </li>
                                                    <li>
                                                            <div>
                                                                <div class="dc-image-border">
                                                                    <label class="checkbox-wrap">
                                                                        <input type="checkbox" id="cb1" ><label class="check-icon" for="cb1"></label>
                                                                    </label>
                                                                <a href="detail">
                                                                        <div class="margin-20 dc-image-container">
                                                                                <img class="dc-title-image" src="/WebContent/image/brand/fast/kfc.jpg" alt="이미지"/>
                                                                        </div>
                                                                    <div>
                                                                        <div class="margin-10 dc-title">
                                                                            <!-- <span class="margin-r-10" style="font-weight: bold; ">[무지]</span><br> -->
                                                                            <span class="dc-detail-title" style="font-weight: bold;">무지혹 20% 세일!무지혹 20% 세일!무지혹 20% 세일!</span>
                                                                        </div>
                                                                        <div class="margin-b-10 flex dc-image-top-border">
                                                                            <div class="margin-l-20 margin-t-10" style="font-size: 15px;">
                                                                                <span class="dc-detail-start-date">18.12.11</span>
                                                                                <span>~</span>
                                                                                <span class="dc-detail-end-date">18.12.31</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    </a>
                                                                </div>    
                                                            </div>  
                                                    </li> 
                                                </ul>
                                            </div>
                                            <div class="pager">
                                                <div class="block-wrapping"><input type="button" value=" " class="btn prev-btn"/></div>
                                                <div class="block-wrapping">
                                                    <ul class="list">
                                                        <li><a href="">1</a></li>
                                                        <li><a href="">2</a></li>
                                                        <li><a href="">3</a></li>
                                                    </ul>
                                                </div>
                                                <div class="block-wrapping"><input type="button" value=" " class="btn next-btn"/></div>
                                            </div>
                                        </div>
                                </div>
                                
                            </div>
                        </div>
                    </section>
                </div>
                <div class="body-aside-container">
                    <!-- <aside>
                         
                        <h1 class="hidden">내 지갑 (제휴 현황) 시럽 벤치마킹</h1>
                        <div class="menu-bar menu-bar-card" >
                            <div class="껍데기 text-center">
                                <div class="menu-bar-category">
                                    내 카드
                                </div>
        
                                <div>
                                    <ul class="hover-back" >
                                        <a href="detail.old..html"><li class="padding-t-10 padding-b-10">T-MemberShip</li></a>
                                        <a href=""><li class="padding-t-10 padding-b-10">NaraSarang Card</li></a>
                                        <a href=""><li class="padding-t-10 padding-b-10">S20 체크카드</li></a>
                                        <a href=""><li class="padding-t-10 padding-b-10">+ 카드 등록하기</li></a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </aside> -->
                </div>
            </div>
        </div>
        <footer>
            <div class="content-container">
                FOOTER
            </div>
        </footer>
    </body>
</html>