<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="/WebContent/css/hokdc/list.css"/>
        <title>혹한할인</title>
    </head>
    <body>
        <header>
            <div class="content-container flex">
                <div class="header-logo-container">
                    <a href=""><img src="/WebContent/image/logo.png" width=166px height=70px></a>
                </div>
                <div class="header-main-container">
                    <nav>
                        <h1 class="hidden">메인메뉴</h1>
                        <ul>
                            <li class="hok-hover hokdc"><a href="#">DISCOUNT</a></li>
                            <li class="hok-hover hokmap"><a href="#">HOK! MAP</a></li>
                            <li class="hok-hover hokhok"><a href="#">HOK! HOK!</a></li>
                            <li class="hok-hover hokcus"><a href="#"> CENTER</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="header-sub-container">
                    <nav>
                        <h1 class="hidden">로그인</h1>
                        <ul>
                            <li class=""><a href="">LOGIN</a></li>
                            <li class=""><a href="">REGIST</a></li>
                        </ul>
                    </nav>
                </div>  
            </div>
        </header>
        <div id="visual">
            <div class="content-container">
                <section id="search-form" >
                    <h1 class="hidden">비쥬얼검색창</h1>
                        <div>
                            <input type="text" minlength="1 "maxlength="10" placeholder="검색어를 입력하세요" class="margin-r-20" />
                            <input class="btn " type="submit" value=" " alt="검색" />
                        </div>
                </section>
            </div>
        </div>

        <div id="body">
            <div class="content-container" style="display:flex;">
                <div class="body-aside-container">ASIDE</div>
                <div class="body-main-container">MAIN</div>
                <div class="body-aside-container">ASIDE</div>
            </div>
        </div>
        <footer>
            <div class="content-container">
                FOOTER
            </div>
        </footer>
    </body>
</html>