<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <button type="button">혹디씨</button>
    <ul role="combobox">
        <li>혹맵</li>
        <li>혹할할인</li>
        <li>혹보드</li>
    </ul>

    <div class="input-group">
            <div class="input-group-btn">
              <!-- Button and dropdown menu -->
            </div>
            <input type="text" class="form-control" aria-label="...">
          </div>
          
          <div class="input-group">
            <input type="text" class="form-control" aria-label="...">
            <div class="input-group-btn">
              <!-- Button and dropdown menu -->
            </div>
          </div>
</body>
</html>