<!DOCTYPE html>
<html style="wbrand-listidth:1000px; height:900px">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="/WebContent/css/my_page/mywish.css"/>
        <title>전체 브랜드</title>
    </head>
    <body>
        <div id="body">
            <div class="body-main-container">
                    <section id="main-body">
                    <h1 class="hidden">바디리스트</h1>
                    <!-- 테이블로하자  -->
                    <div class=my-page-main-box>
                            <div class='flex'>
                                <a href=""><div class="title">전체브랜드</div></a>
                            </div>
                            <div class='flex'>
                                    <a href=""><div class="tab-btn highlighted">전체</div></a>
                                    <a href=""><div class="tab-btn">한식</div></a>
                                    <a href=""><div class="tab-btn">편의점</div></a>
                                    <a href=""><div class="tab-btn">양식</div></a>
                                    <a href=""><div class="tab-btn">일식</div></a>
                                    <a href=""><div class="tab-btn">가족</div></a>
                            </div>
                            <!-- 위에 필터링 탭에서 체크한 만큼 div 생성!!!! -->
                            <div class='flex wish-count'>
                                <div class="">편의점 : 00개</div>
                                <div class="">양식 : 00개</div>
                            </div>
                            <div class="brand-list flex">
                                            
                                <div class="sel-brand" style="background-image:url('/WebContent/image/brand/fast/kfc.jpg'); background-size: cover;">
                                    <!-- <img src="/WebContent/image/brand/fast/kfc.jpg" width="200px" height="200px"> -->
                                </div>
                                <div class="unsel-brand" style="background:red;">
                                        그치만 이렇게 하지 않으면 키위짱이
                                </div>
                                <div class="unsel-brand" style="background-image:url('/WebContent/image/brand/fast/kfc.jpg'); background-size: cover;">
                                    <!-- <img src="/WebContent/image/brand/fast/kfc.jpg" width="200px" height="200px"> -->
                                </div>
                                <div class="unsel-brand" style="background:red;">
                                        그치만 이렇게 하지 않으면 키위짱이
                                </div>
                                <div class="unsel-brand" style="background-image:url('/WebContent/image/brand/fast/kfc.jpg'); background-size: cover;">
                                    <!-- <img src="/WebContent/image/brand/fast/kfc.jpg" width="200px" height="200px"> -->
                                </div>
                                <div class="unsel-brand" style="background:red;">
                                        그치만 이렇게 하지 않으면 키위짱이
                                </div>
                                <div class="unsel-brand" style="background-image:url('/WebContent/image/brand/fast/kfc.jpg'); background-size: cover;">
                                    <!-- <img src="/WebContent/image/brand/fast/kfc.jpg" width="200px" height="200px"> -->
                                </div>
                                <div class="unsel-brand" style="background:red;">
                                        그치만 이렇게 하지 않으면 키위짱이
                                </div>
                            </div>
                        <!-- <div style="position: absolute; right:50px; top:70px;"> -->
                        <div class="flex" style="position: absolute; right:300px;">
                            <a href="all-brand-list.html"><div class="margin-r-20 margin-t-20" style="width:150px; height:40px; line-height:40px; border:1px solid black;">저장</div></a>
                            <a href="all-brand-list.html"><div class="margin-t-20" style="width:150px; height:40px; line-height:40px; border:1px solid black;">닫기</div></a>
                        </div>
                    </div>
                </section>
            </div>
    </body>
</html>