<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="/WebContent/css/my_page/mywish.css"/>
        <title>내 찜 목록</title>
    </head>
    <body>
        <header>
            <div class="content-container flex">
                <div class="header-logo-container">
                    <a href=""><img src="/WebContent/image/logo.png" width=166px height=70px></a>
                </div>
                <div class="header-main-container">
                    <nav>
                        <h1 class="hidden">메인메뉴</h1>
                        <ul>
                            <li class="hok-hover hokdc"><a href="#">DISCOUNT</a></li>
                            <li class="hok-hover hokmap"><a href="#">HOK! MAP</a></li>
                            <li class="hok-hover hokhok"><a href="#">HOK! HOK!</a></li>
                            <li class="hok-hover hokcus"><a href="#"> CENTER</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="header-sub-container">
                    <nav>
                        <h1 class="hidden">로그인</h1>
                        <ul>
                            <li class=""><a href="">LOGIN</a></li>
                            <li class=""><a href="">REGIST</a></li>
                        </ul>
                    </nav>
                </div>  
            </div>
        </header>
        <div id="visual">
            <div class="content-container">
                <section id="search-form" >
                    <h1 class="hidden">비쥬얼검색창</h1>
                        <div>
                            <input type="text" minlength="1 "maxlength="10" placeholder="검색어를 입력하세요" class="margin-r-20" />
                            <input class="btn " type="submit" value=" " alt="검색" />
                        </div>
                </section>
            </div>
        </div>

        <div id="body">
            <div class="content-container" style="display:flex;">
                <div class="body-aside-container">
                    <aside>
                        <h1 class="hidden">메뉴바</h1>
                        <div class="boxing">
                            <div class="boxing-title">회원정보</div>
                            <div class="margin-t-20 margin-l-20">
                                <div class="margin-t-10">
                                    <span>NICKNAME</span>
                                    <span>(</span>
                                    <span>아이디</span>
                                    <span>)</span>
                                </div>
                                <div class="margin-t-10">
                                    <span>since</span>
                                    <span>2018.02.13</span>
                                    <span>일반</span>
                                </div>
                                <div class="margin-t-10">
                                    <span>3</span>
                                    <span>회 경고</span>
                                </div>
                            </div>
                        </div>
                        <div class="menu-bar menu-bar-dcmenu margin-r-20" >
                            <div class="text-center">
                                <div class="menu-bar-category">
                                        MyPage
                                </div>
                                <div>
                                    <ul class="hover-back">
                                            <a href="../news/all-list.html"><li class="">My News <span>(0)</span></li></a>
                                            <a href="../board/write-list.html"><li class="">My Board</li></a>
                                            <a href="../wish/list.html"><li class="now">My Wish</li></a>
                                            <a href="../report/list.html"><li class="">My Q&A</li></a>
                                            <a href=""><li class="">My Info</li></a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
                <div class="body-main-container">
                    <div class="body-main-container">
                         <section id="main-body">
                            <h1 class="hidden">바디리스트</h1>
                            <div>
                                <div >
                                    <div class="">
                                        <ul class="list text-right margin-t-20 margin-b-20 margin-r-20">
                                            <li><a  href=""><input class="btn home-btn page-path" type="button" value=""/></a></li>
                                            <li><img class="page-path" src="/WebContent/image/icon/next-16.png" ></li>
                                            <li class="page-path"><a href="list" >마이페이지</a></li>
                                            <li><img class="page-path" src="/WebContent/image/icon/next-16.png" ></li>
                                            <li class="page-path">My Wish</li>
                                        </ul>
                                    </div>
                                    
                                    <!-- 테이블로하자  -->
                                    <div class=my-page-main-box>
                                        <div class='flex'>
                                            <div class="title">내찜목록</div>
                                        </div>
                                        <div class='flex'>
                                                <a href=""><div class="tab-btn highlighted">전체</div></a>
                                                <a href=""><div class="tab-btn">한식</div></a>
                                                <a href=""><div class="tab-btn">편의점</div></a>
                                                <a href=""><div class="tab-btn">양식</div></a>
                                                <a href=""><div class="tab-btn">일식</div></a>
                                                <a href=""><div class="tab-btn">가족</div></a>
                                        </div>
                                        <!-- 위에 필터링 탭에서 체크한 만큼 div 생성!!!! -->
                                        <div class='flex wish-count'>
                                            <div class="">편의점 : 00개</div>
                                            <div class="">양식 : 00개</div>
                                        </div>
                                        
                                        <div class="brand-list flex">
                                            
                                                <div class="sel-brand" style="background-image:url('/WebContent/image/brand/fast/kfc.jpg'); background-size: cover;">
                                                    <!-- <img src="/WebContent/image/brand/fast/kfc.jpg" width="200px" height="200px"> -->
                                                </div>
                                                <div class="unsel-brand" style="background:red;">
                                                        그치만 이렇게 하지 않으면 키위짱이
                                                </div>
                                                <div class="unsel-brand" style="background-image:url('/WebContent/image/brand/fast/kfc.jpg'); background-size: cover;">
                                                    <!-- <img src="/WebContent/image/brand/fast/kfc.jpg" width="200px" height="200px"> -->
                                                </div>
                                                <div class="unsel-brand" style="background:red;">
                                                        그치만 이렇게 하지 않으면 키위짱이
                                                </div>
                                                <div class="unsel-brand" style="background-image:url('/WebContent/image/brand/fast/kfc.jpg'); background-size: cover;">
                                                    <!-- <img src="/WebContent/image/brand/fast/kfc.jpg" width="200px" height="200px"> -->
                                                </div>
                                                <div class="unsel-brand" style="background:red;">
                                                        그치만 이렇게 하지 않으면 키위짱이
                                                </div>
                                                <div class="unsel-brand" style="background-image:url('/WebContent/image/brand/fast/kfc.jpg'); background-size: cover;">
                                                    <!-- <img src="/WebContent/image/brand/fast/kfc.jpg" width="200px" height="200px"> -->
                                                </div>
                                                <div class="unsel-brand" style="background:red;">
                                                        그치만 이렇게 하지 않으면 키위짱이
                                                </div>
                                        </div>
                                        <!-- <div style="position: absolute; right:50px; top:70px;"> -->
                                        <div class="flex" style="position: absolute; right:300px;">
                                                <a href="all-brand-list.html"><div class="margin-r-20 margin-t-20" style="width:150px; height:40px; line-height:40px; border:1px solid black;">전체목록</div></a>
                                            <a href="all-brand-list.html"><div class="margin-t-20" style="width:150px; height:40px; line-height:40px; border:1px solid black;">선택삭제</div></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="body-aside-container"></div>
            </div>
        </div>
        <footer>
            <div class="content-container">
                FOOTER
            </div>
        </footer>
    </body>
</html>