@charset "UTF-8";

@import url(basic.css);

input{
    border-radius: 5px;
}

/*------detail-board----------------*/
.detail-board{
    width: 90%;
    margin:50px;
}

.detail-board>div{
    border-bottom: 1px solid;
}

/*-------d-title--------------*/
.d-title{
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    padding-left: 20px;
    background: #b9b9b9;
}


/*-------d-info----------------*/
.d-info{
    height: 50px;
    line-height: 50px;
    
    padding-left: 20px;
}

.d-info div{
    float: right;
    display: flex;
    margin-right: 30px;
}
.d-info p{
    margin-left:20px;
}

/*--------d-content------------*/
.d-content{
    min-height: 200px;
    padding:20px;
}

/*--------d-button-------------*/
.d-button{
    padding:5px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.d-button>input{
    width:60px;
    height: 40px;
}

.d-button>input:nth-child(3){
    float: right;
}

/*---------d-reply--------------*/

.d-reply-title{
    background: #b9b9b9;
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
}

.d-reply h1{
    float: left;
    font-weight: normal;
    font-size: 15px;
    margin-right: 5px;
}


/*-------d-content---------------*/
.d-reply-content{
    padding: 20px;
}
.d-reply-content div{
    line-height: 25px;
    min-height: 30px;
}

.d-reply-content span:last-child{
    margin-left: 10px;
}

/*------r-page-move---------------*/
.r-page-move{
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding-top:20px;
    padding-bottom: 40px;
    border-bottom: none!important;
}


/*------d-reply-add---------------*/


.d-reply-add{
    border:1px solid;
    height: 150px;
    padding:20px;
    background: #b9b9b9;
}

.d-reply-add-content{
    width:100%;
    height: 80%;
    line-height: 20px;
}


.d-reply-add-button input{
    width:80px;
    height: 40px;
    font-size: 17px;
    float: right;
    margin-top: 5px;
    border-radius: 5px;
}


/*-------d-page-move-------------*/
.d-page-move{
    margin-top: 30px;
}

.d-page-move dl{
    height: 40px;
    line-height: 40px;
    border-top: 1px solid;
    display: flex;
}

.d-page-move dt{
    border-right: 1px solid;
    width: 70px;
    text-align: center;
}

.d-page-move dd{
    margin-left: 10px;
}}