@charset "UTF-8";

@import url(basic.css);


/*-------reg-board--------------------*/
.reg-board{
    margin:50px;
}

/*-------reg-board--------------------*/
.reg-body{
    border: 1px solid;
    margin-top: 20px;
    width:1000px;
}

.reg-body dl{
    display: flex;
    border-bottom: 1px solid;
    border-right: 1px solid;
}

.reg-body dt{
    width:200px;
    text-align: center;
    font-size: 15px;
}

.reg-body dd{
    padding:5px;
    width:100%;
    border-left: 1px solid;
}

.reg-body input, textarea{
    border:1px solid #ac9797;
    width: 100%;
    height: inherit;
    padding:0px;
}
/*--------------------------------------*/

.reg-choice dt{
    height: 30px;
    line-height: 30px;
}

.reg-title dt{
    height: 40px;
    line-height: 40px;
}

.reg-title dd{
    height: 30px;
}

.reg-file dt{
    height: 36px;
    line-height: 36px;
}

.reg-content dt{
    height: 200px;
    line-height: 200px;
}

.reg-content dd{
    height: 190px;
}

.reg-tag dt{
    height: 40px;
    line-height: 40px;
}

.reg-tag dd{
    height: 30px;
}









/*--------reg-tail---------------------*/
.reg-tail{
    margin-top: 10px;
    text-align: center;
}

.reg-tail input{
    width: 70px;
    line-height: 40px;
    height: 40px;
    font-size:20px;
    color: #ffffff;
}


.reg-tail input:nth-child(1){
    background: #646060;
}

.reg-tail input:nth-child(2){
    background: #353492;
}







