/* 공동 템플릿 세팅 +헤더*/
@import url("/WebContent/css/inc/common.css");
/* ------------------------검색창---------------------------------- */
@import url("/WebContent/css/inc/searchform.css");
/* ---------------------어사이드--------------------------------------- */
@import url("/WebContent/css/inc/asidelist.css");
/* ---------------------페이저--------------------------------------- */
@import url("/WebContent/css/inc/pager.css");
aside .boxing{
    margin:30px 0px;
    width:inherit;
    height:160px;
    background-color:rgb(246, 219, 218);
    /* text-align: right; */
    color:black;
    font-weight: bold;
    font-size:15px;
}
aside .boxing-title{
    text-align: center !important;
    height:50px;
    line-height:50px;
    background-color:rgb(95, 86, 95); 
    color:rgb(255, 255, 255); 
    font-weight: bold;
    font-size:27px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* -------------------------------------메인 새 소식 창 ----------------------------- */
#main-body .my-page-main-head{
    width:inherit;
    height:90px;
    margin:10px;
    margin-top:20px;
}
.my-page-main-head .news-alarm{
    flex-grow:8;
    line-height: 60px;
    height:60px;
    margin:inherit;
    background-color:rgb(95, 86, 95); 
    color:rgb(246, 219, 218);
}

.my-page-main-head .total-btn{
    
    flex-grow: 1;
    line-height: 40px;
    height:40px;
    margin:inherit;
    
}

#main-body .my-page-main-box{
    min-height:600px;
    width:inherit;
    text-align: center;
    background-color:rgb(246, 219, 218);
    font-weight: bold;
}
#main-body .my-page-main-box .tab-btn{
    width:100px;
    height:40px;
    line-height: 40px;
    background:lemonchiffon;
    margin-right:3px;
}
/* -------------------------------------전체 소식 필터  ----------------------------- */
#main-body .news-filter{
    padding-top:30px;
    padding-left:20px;
}
#main-body .news-filter select{
    width:100px;
    height:30px;
}
/* #main-body .filter-btn{
    background:url(/WebContent/image/icon/zoom-in-32.png) no-repeat;
    width:32px;
    height:32px;
    margin-left:20px;
} */

/* -------------------------------------내가 쓴 글 & 댓글 my_write   ----------------------------- */
#main-body .my-write form{
    /* padding-top:30px;
    padding-left:20px; */
}
#main-body .my-write select{
    width:100px;
    height:30px;
    border:0px;
    position: relative;

}
#main-body .my-write-text{
    width:400px;
    height:30px;
    outline:none;
    margin-left:30px;
    border-radius: 5px;
}
#main-body .filter-btn{
    background:url(/WebContent/image/icon/zoom-in-32.png) no-repeat;
    width:32px;
    height:32px;
    margin-left:20px;
}

/* -------------------------------------테이블 ----------------------------- */
.mypage-table{
    min-height:50px;
    width:1000px;
    table-layout: fixed;
    font-size:13px;
    background-color:rgb(246, 219, 218);
    font-weight: bold;
}
.my-page-main-box td{
    padding-left:10px;
    padding-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}

/* ---------------------write----------------------------------------------------- */
/* 머릿말 */
.my-page-main-box tr td:nth-child(1){
    width: 40px;
}
/* #write .table-tag{
    width: 40px;
} */
/* 제목 */
.my-page-main-box tr td:nth-child(2){
    text-align: left;
    width: 300px !important;
}

/* 등록일 */
.my-page-main-box tr td:nth-child(3){
    width: 130px;
}
/* 조회 */
.my-page-main-box tr td:nth-child(4){
    width: 50px;
}
/* 추천 */
.my-page-main-box tr td:nth-child(5){
    width: 50px;
}