/* 공동 템플릿 세팅 +헤더*/
@import url("/WebContent/css/inc/common.css");
/* ------------------------검색창---------------------------------- */
@import url("/WebContent/css/inc/searchform.css");
/* ---------------------어사이드--------------------------------------- */
@import url("/WebContent/css/inc/asidelist.css");
/* ---------------------페이저--------------------------------------- */
@import url("/WebContent/css/inc/pager.css");

/* ----------------------어사이드 회원정보------------------------------------------- */
aside .boxing{
    margin:30px 0px;
    width:inherit;
    height:160px;
    background-color:rgb(246, 219, 218);
    color:black;
    font-weight: bold;
    font-size:15px;
}
aside .boxing-title{
    text-align: center !important;
    height:50px;
    line-height:50px;
    background-color:rgb(95, 86, 95); 
    color:rgb(255, 255, 255); 
    font-weight: bold;
    font-size:27px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* -------------------------------------메인 새 소식 창 ----------------------------- */



#main-body .my-page-main-box{
    min-height:880px;
    width:inherit;
    text-align: center;
    background-color:rgb(246, 219, 218);
    font-weight: bold;
}

#main-body .my-page-main-box .title{
    width:130px;
    height:60px;
    line-height: 60px;
    background:rgb(148, 143, 100);
    margin:10px;
    padding:2px;
    box-sizing: border-box;
}

#main-body .my-page-main-box .tab-btn{
    min-width:70px;
    height:40px;
    line-height: 40px;
    background:lemonchiffon;
    margin-left:10px;
    margin-right:10px;
    padding:2px;
    box-sizing: border-box;
}
#main-body .my-page-main-box .wish-count{
    margin:20px;
    font-size: 25px;
}


.brand-list{
    width:970px;
    height:600px;
    background:white; 
    flex-flow:wrap;
    overflow: scroll;
    margin-left: auto;
    margin-right:auto;
}

.sel-brand{
    box-sizing: border-box;
    border:black 5px solid !important;
    width:250px !important;
    height:250px !important;
    margin:30px; 
}
.unsel-brand{
    box-sizing: border-box;
    border:none !important;
    width:250px !important;
    height:250px !important;
    margin:30px; 
}